.navBarContainer {
  display: flex;
  z-index: 2;
  padding: 20px;
  background-color: transparent;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 20
}
.logo {
  flex: 1 1 50%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}

.nav {
  flex: 1 1 50%;
}

.burger {
  display: none;
}

.menuContainer {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .nav {
    display: none;
  }

  .burger {
    display: block;
  }
}
  