.black {
  color: black;
  margin-bottom: 20px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  
}
.white {
  color:white;
  /* margin-top: 20px;
  margin-top: 16px; */
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
}