.black {
  color: black
}

.white {
  color:white;
  margin-top: 20px;
  
}



.listContainer {
 
  margin-bottom: 40px;

}
.title {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;

}