.fullWidth {
  width: 100%;
  padding: 0;
}
.standard {
  width: 75%;
  max-width: 1280px;
}

.heroText {
  position: absolute;
  top: 20% ;
  padding: 20px;
}


  @media only screen and (max-width: 768px) {
    .heroText {
      top: 10% ;
    }
    .heroStandard {
      width: 100%;
    }
  }


  @media only screen and (max-width: 1280px) {
    .standard {
      width: 100%;
    }
  }


@media only screen and (max-width: 600px) {
  .standard {
    width: 100%;
  }
  .heroText {
    position: relative;
  }
}




.logoText {
 
  /* top: 20% ; */
  padding-left: 0px;
  padding-right: 0px;
}
@media only screen and (max-width: 600px) {
  .logoText {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }
}