.caseTitle {
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  padding: 40px 0px;
}
.caseParagraph {
margin-bottom: 32px;
font-size: 18px;
line-height: 24px;
font-weight: 500;
}
.title {
line-height: 17px;
font-weight: 500;
text-transform: uppercase;
}

.imageContainer {
  width: 600px;
}

