.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseTitle {
  position: static;
  display: inline-block;
  margin-right: 20px;
  float: none;
  clear: left;
   
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 20px;
}

.caseTitle:hover {
  text-decoration: underline;
} 

