.image {
  width: 100%;
  }
  .text {
  margin-top: 16px;
  margin-bottom: 24px;
  color: #000;
  font-size: 52px;
  line-height: 60px;
  font-weight: 600;
  }
  .infoContainer {
  width: 60%;
  padding-top: 180px;
  padding-bottom: 70px;
  }
  
  .description {
  color: white;
  text-transform: uppercase;
  margin-bottom: 8px;
  line-height: 17px;
  font-weight: 500; 
  font-size: 14px;
  }
  
  .purpose {
  margin-top: 60px;
  margin-bottom: 24px;
  font-size: 44px;
  line-height: 54px;
  font-weight: 500;
  max-width: 800px;
  
  }

  .award {
  width: 250px;
  height: auto;
  margin: 40px 0px;

  }

  .rating {
    width: 150px;
    height: auto;
    margin: 70px 0px 180px 0px;
  
  }

  .flexContainer {
    padding: 30px 0px;
  }