.main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonLink {
  background-color: #e89f19;
  border-radius:56px;
  font-size: 13px;
  font-weight: 600;
  justify-content: center;
  min-width: 290px;
  padding: 12px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .3s ease,transform .3s ease,-webkit-transform .3s ease,-o-transform .3s ease;

}

.formContainer {
  padding-top: 120px;
}

@media only screen and (max-width: 1024px) {
  .formContainer {
    padding-top: 0;
  }
}